# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# Python
.venv/
venv/
env/
ENV/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Keys & Secrets
*.pem
*.key
*.p12
*.csr
*.crt
*.cer
.aws/
*.secrets
*.env

# macOS
.DS_Store
.vscode/
.idea/
